<% include ./partials/header %>

  <div class="container mt-4">
    <div class="row">
      <div class="col"></div>
      <div class="col-12 col-md-10">
        <div class="card shadow border-0 ">
          <div class="card-body">
            <h2 class="text-center">About Realtor</h2>
            <h3>What is Realtor?</h3>
            <hr>
            <p>
              <strong class="text-danger">Realtor</strong> is a webapplication that is trying to add it's own unique value to the Real Estate market. We aim to make your experience seemless like never before.
            </p>
   
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>
    <div class="row"><p></p></div>
    <div class="row">
      <div class="col"></div>
      <div class="col-6 col-md-5">
        <div class="card shadow border-0 ">
          <div class="card-body">
            <h3>Our Aim?</h3>
            <hr>
            <p>
              <strong class="text-danger">Realtor</strong> is trying to connect people interested in buying properties in parts with each other. If you don't have enough money for the property, that does not mean you cannot invest.
            </p>
   
          </div>
        </div>
      </div>
      <div class="col-6 col-md-5">
        <div class="card shadow border-0 ">
          <div class="card-body">
            <h3>Trust Us?</h3>
            <hr>
            <p>
              <strong class="text-danger">Realtor</strong> will help customers and also enlighten new customers with the whereabouts of the Real Estate. We will also refer them to lawyers to get a proffesional opinon in scrutinizing the doccuments.
            </p>
   
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>
    <div class="row"><p></p></div>
    <div class="row">
      <div class="col"></div>
      <div class="col-6 col-md-5">
        <div class="card shadow border-0 ">
          <div class="card-body">
            <h3>Vision</h3>
            <hr>
            <p>
              <strong class="text-danger">Realtor</strong> wants to revolutionize the outlook on Real estate as an investment. Not only making it hastle free but also affordable and within reach.
            </p>
   
          </div>
        </div>
      </div>
      <div class="col-6 col-md-5">
        <div class="card shadow border-0 ">
          <div class="card-body">
            <h3>People</h3>
            <hr>
            <p>
              <strong class="text-danger">Realtor</strong> is run by like minded people that want to lead this company into the future with this vision and aim in mind as they strive.
            </p>
   
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>
 
  <% include ./partials/footer %>